<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      Name:
    <input type="text" formControlName="name"><br>
    <p class="worn" *ngIf="profileForm.controls.name.hasError('required') && !profileForm.get('name').pristine">*Name is required</p>
    <!-- <p class="worn" *ngIf="profileForm.get('name').hasError('invalidName') && !profileForm.get('name').pristine"> *Name is Invalid  </p> -->

    </label>
    <label>Email:
      <input type="text" formControlName="email"><br>
      <p class="worn" *ngIf="profileForm.controls.email.hasError('required') && !profileForm.get('email').pristine">*Email is required</p>
    </label>

    <label>Gender:<br>
    <input type="radio" id="male" name="gender" value="male" formControlName="gender">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender" value="female" formControlName="gender">
    <label for="female">Female</label><br>
    <p class="worn" *ngIf="profileForm.controls.gender.hasError('required') && !profileForm.get('gender').pristine">*gender is required</p>

    </label>

    <label>Mobile:
      <input type="text" formControlName="mobile"><br>
      <p class="worn" *ngIf="profileForm.controls.mobile.hasError('required') && !profileForm.get('mobile').pristine">*mobile is required</p>
    </label>
    <img src="profileForm.controls.img.value">{{profileForm.controls.img.value}}
    <label>img:
      <input type="file" formControlName="img"><br>
      <p class="worn" *ngIf="profileForm.controls.img.hasError('required') && !profileForm.get('img').pristine">*image is required</p>

    </label>
    <label>Password:
      <input type="password" formControlName="password"><br>
      <p class="worn" *ngIf="profileForm.controls.password.hasError('required') && !profileForm.get('password').pristine">*Password is required</p>
    </label>
    <label>ConfirmPassword:
      <input type="password" formControlName="confirmPassword"><br>
      <p class="worn" *ngIf="profileForm.controls.confirmPassword.hasError('required') && !profileForm.get('confirmPassword').pristine">*Confirm Password is required</p>
    </label>
    <button type="submit">Submit</button>
</form>

<p>
    Form Status: {{ profileForm.status }}
</p>